
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <p>Home da aplicação</p>
        <p>@Html.ActionLink("Entrar", "Login", "Home")</p>
    </div>
</body>
</html>
